@model IEnumerable<MovieLibrary.Models.UserMovie>

@{
    ViewData["Title"] = "Wishlist";
}

<table class="table">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Movie.Title</td>
                <td>@item.WatchStatus</td>
            </tr>
        }
    </tbody>
</table>
