@model IEnumerable<WishListDto>

@{
    ViewData["Title"] = "Wishlist";
}

<h1 class="mb-4">My Wishlist</h1>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item d-flex justify-content-between">
            <span>@item.MovieTitle</span>
            <span class="badge bg-dark">@item.Status</span>
        </li>
    }
</ul>
