@model MovieLibrary.Models.Domain.Entities.Genre

<form asp-action="Create" method="post">
    <input asp-for="Name" />
    <button type="submit">Save</button>
</form>

<a asp-action="Index">Back</a>
