@model MovieLibrary.Models.Domain.Entities.Genre

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <input asp-for="Name" />
    <button type="submit">Save</button>
</form>

<a asp-action="Index">Back</a>
