@model IEnumerable<MovieLibrary.Models.Domain.Entities.Genre>

@{
    ViewData["Title"] = "Genres";
}

<h1 class="mb-4">Genres</h1>

<ul class="list-group">
    @foreach (var genre in Model)
    {
        <li class="list-group-item">
            @genre.Name
        </li>
    }
</ul>

