@model List<MovieLibrary.Models.ViewModels.Movies.MovieViewModel>

<div class="container mt-4">
    <h2 class="mb-4 text-center">
        @ViewBag.GenreName Movies
    </h2>

    <div class="row">
        @foreach (var movie in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card shadow-sm">
                    <img src="@movie.PosterUrl" class="card-img-top" />
                    <div class="card-body text-center">
                        <h5>@movie.Title</h5>
                        <a asp-action="Details"
                           asp-route-id="@movie.Id"
                           class="btn btn-warning btn-sm">
                            View Details
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
